.line-chart-container {
    width: 97%; 
    margin: 10px; 
    padding: 20px; /* Add padding around the chart */
    border: 1px solid #008cba; /* Light border around the chart */
    border-radius: 10px; /* Rounded corners */
    background-color: #faf9f6; /* Light background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center any text inside */
  }
  
  .line-chart-container h4 {
    margin-bottom: 20px;
    color: #333; /* Text color for the header */
    font-family: 'Arial', sans-serif;
  }
  
  .loadingbar {
    width: 50%;
    background-color: #F2EFE7;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    justify-self: center;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .progress{
    height: 10px;
    background-color: rgba(0, 128, 0, 0.5);
    transition: width 0.3s ease-in-out;
  }
  .progress-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #333;
    font-weight: bold;
  }
  .searchButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.searchButton {
  background-color: #008cba;
  border: none;
  min-width: 150px;
  min-height: 40px;
  border-radius: 5px;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.searchButton:hover {
  background-color: #005f8a;
}

.searchButton:disabled {
  background-color: #99c9e2;
}

.searchButton.loading {
  position: relative;
  color: transparent;
  padding: 0;
  min-width: 150px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton.loading:after {
  content: "";
  border: 4px solid #ffffff;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
  position: absolute;
  top: 24%;
  left: 43%;
  transform: translate(-50%, -50%);
}